/* .education-heading{
    font-size: 56px;
    font-weight: 400;
} */

.education-section{
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 20px 0px;
    margin: 0px auto;
    margin-top: 2rem;
}

.education-section > *{
    flex: 1;
    margin-bottom: 30px;
}

.education-container{
    display: flex;
    flex-direction: column;
    padding-top: 2px;
}

@media (max-width: 768px){
    .education-container{
        padding-top: 0px;
    }
    .education-heading{
        font-size: 16px;
        text-align: center;
    }
    .education-text-subtitle{
        font-size: 16px;
    }
}

@media (max-width: 1380px){
    .education-container{
        padding-top: 0px;
    }
    .education-heading{
        font-size: 22px;
    }
    .education-text-subtitle{
        font-size: 18px;
        text-align: center;
    }
}