.experience-card-div{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    gap: 1rem 1rem;
}

.experience-heading{
    font-size: 56px;
    font-weight: 400;
    color: orange;
}

.experience-container{
    display: flex;
    margin-top: 2rem;
    padding: 20px 10px;
    margin: 0px auto;
    width: 90%;
}

.experience-container > * {
    flex: 1;
}

@media (max-width: 1380px){
    .experience-heading{
        font-size: 40px;
    }
}

@media (max-width: 768px){
    .experience-heading{
        font-size: 30px;
        text-align: center;
    }
}